@import "tailwindcss";

.darkMode {
    background-color: #1b1f23;
    color:#9ecfff;
}

.lightMode {
    background-color:#f0f4ff;
    color:	#1f2a48;
}

.darkMode .card:hover {
    border: 2px white solid;
}

.lightMode .card:hover {
    border: 2px black solid;
}

.shiki {
    padding: 10px;
    border-radius:5px;
}