@import "tailwindcss";

@media (max-width: 768px) {
  .markdown h1 {
    @apply text-2xl mb-3;
  }

  .markdown h2 {
    @apply text-xl mb-3;
  }

  .markdown h3 {
    @apply text-lg mb-3;
  }

  .markdown h4 {
    @apply text-base mb-3;
  }

  .markdown h5 {
    @apply text-sm mb-3;
  }

  .markdown h6 {
    @apply text-xs mb-3;
  }
}

.dark {
  background-color: #1b1f23;
  color: #cae5ff;
}

.light {
  background-color: #f0f4ff;
  color: #1f2a48;
}

.dark .card:hover {
  border: 2px white solid;
}

.light .card:hover {
  border: 2px black solid;
}

.shiki {
  padding: 10px;
  border-radius: 5px; /* default */
}

.code-header + .shiki {
  border-radius: 0 0 5px 5px;
  border-top: none;
}

.markdown h1 {
  @apply text-4xl font-bold mb-4;
}

.markdown h2 {
  @apply text-3xl font-semibold mb-4;
}

.markdown h3 {
  @apply text-2xl font-semibold mb-4;
}

.markdown h4 {
  @apply text-xl font-medium mb-4;
}

.markdown h5 {
  @apply text-lg font-medium mb-4;
}

.markdown h6 {
  @apply text-base font-medium mb-4;
}

.markdown p, pre, li {
  margin-bottom: 1.5em;
  font-size:20px;
}

pre.code, pre .shiki {
  white-space: pre;        /* Prevents line wrapping */
  overflow-x: auto;        /* Enables horizontal scroll */
  display: block;          /* Ensures it respects block layout */
  width: 100%;             /* Ensures full width to allow scroll */
}

ul, li {
  @apply list-disc ml-6;

}

hr {
    margin: 1.5em 0px 1.5em 0px;
}

.code-wrapper {
  margin: 1rem 0;
  border-radius: 0.5rem;
  overflow: hidden;
}

.code-header {
  display:flex;
  background: #8d8dc6;
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius:10px 10px 0 0;

  font-weight:bolder;
  justify-content:space-between;
}

.line.diff.add {
  background-color: #003c1b;
  color: #b4f8c8;
  position: relative;
  display: block;        /* ensures full-width background */
  width: 100%;           /* makes background extend fully */
  box-sizing: border-box;
}

.line.diff.add::before {
  content: '+';
  position: absolute;
  left: 0.3em;
  color: #00ff87;
  pointer-events: none;
}

.code {
  padding: 0.2rem 0.5rem;
  border-radius: 0.375rem; /* rounded-md */
  font-weight: 500;
  white-space: pre-wrap;
  word-break: break-word;
  transition: background-color 0.3s ease, color 0.3s ease;

  /* Light mode default */
  background-color: #f0f4ff;
  color: #1f2a48;
  border: 1px solid #ccd6e0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.dark .code {
  background-color: #1b1f23;
  color: #cae5ff;
  border: 1px solid #2c313a;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.05);
}

.markdown a:hover {
  text-decoration: underline;
}
